{% macro npt_emote(name, alt, size=0.8) -%}
<img class="emote" src="/emote/{{name}}.png" alt="{{alt}}" style="width: {{size}}em; height: {{size}}em" />
{%- endmacro %}

{% macro npt_button(id, href, title, alt, ext="png") -%}
<a class="button-href" href="{{href}}" target="_blank" rel="noopener noreferrer" title="{{title}}">
	<img src="/button/{{id}}.{{ext}}" alt="{{alt}}" width="88px" height="31px" />
</a>
{%- endmacro %}

{% macro npt_desc(description) -%}
	{% for fragment in description %}
		{% if fragment is string %}
			{{ fragment }}
		{% else %}
			<span title="{{fragment[0]}}">{{fragment[1]-}}</span>
		{% endif -%}
	{% endfor %}
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>{{data.name[0]}}</title>
	<script>
		window.NEPTUNE = {{ data|safe }};
	</script>
	<link rel="stylesheet" href="/design.css" />
</head>
<body>
	<main>
		<article class="info">
			<header>
				<span><ruby>{{data.name[0]}} <rp>(</rp><rt>{{data.name[1]}}</rt><rp>)</rp></rp></ruby></span>
				{% for emote in data.flair %}
				{{ npt_emote(emote[0], emote[1]) }}
				{% endfor %}
				<br />
				<figure>
					{{ npt_desc(data.description) }}
					<br/>
				</figure>
			</header>
			<section>
				{% for link in data.links %}
					<a href="{{link.href}}" rel="noreferrer" target="_blank">
						<img alt="" src="/out/{{link.id}}.svg"/>
						<span class="label">
							{{link.name}}
						</span>
					</a>
				{% endfor %}
			</section>
			<footer>
				<figure>
					{{ npt_desc(data.footer) }}
					<br/>
				</figure>
				<br/>
				{% for attribution in data.attribution %}
				<span>
					{% for part in attribution.subject %}
						{% if "link" in part %}
							<a href="{{attribution.href}}" target="_blank" rel="noreferrer">{{part.link}}</a>
						{% endif %}
						{% if "text" in part %}
							<span>{{part.text}}</span>
						{% endif %}
					{% endfor %}
				</span>
				<br/>
				{% endfor %}
				<br/>
				<small>
					some cool sites you should check out
				</small>
				<ul class="buttons">
				{% for button in data.button %}
					<li>{{ npt_button(button.id, button.href, button.title, button.alt, button.ext or "png") }}</li>
				{% endfor %}
				</ul>
			</footer>
		</article>
	</main>
</body>
<!--
		eep!!
			made by @ada@ublog.kimapr.net
				with love and support from @kimapr@ublog.kimapr.net
					-->

</html>
