{% macro npt_emote(name, alt, size=1) -%}
<img class="emote" src="/emote/{{name}}.png" alt="{{alt}}" style="width: {{size}}em; height: {{size}}em" />
{%- endmacro %}

{% macro npt_button(id, href, title, alt, ext="png") -%}
<a class="button-href" href="{{href}}" target="_blank" rel="noopener noreferrer" title="{{title | safe}}">
	<img src="/button/{{id}}.{{ext}}" alt="{{alt}}" width="88px" height="31px" />
</a>
{%- endmacro %}

{% macro npt_orbit(name, href, display, distance, offset = 15) -%}
<div class="link-element">
	<a href="{{href}}" target="_blank" rel="noreferrer">
		<div class="orbit"
			style="animation-duration: {{distance/100*25}}s; width: {{distance + offset}}pt; height: {{distance + offset}}pt; left: -{{(distance + offset)/2}}pt; top: -{{(distance + offset)/2}}pt">
			<svg class="border" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="none">
				<circle cx="100" cy="100" r="95" stroke="currentColor" stroke-width="0.3" stroke-dasharray="2 4.5"
					fill="none" />
				<circle cx="100" cy="100" r="100" fill="transparent" />
			</svg>
			<div class="dot" style="animation-duration: {{distance/100*25}}s" data-tooltip="{{display}}">
				<img src="/out/{{name}}.svg" alt="" />
			</div>
			<span class="label">{{display|tojson}}</span>
		</div>
	</a>
</div>
{%- endmacro %}

{% macro npt_desc(description) -%}
	{% for fragment in description %}
		{% if fragment is string %}
			{{ fragment }}
		{% else %}
			<span title="{{fragment[0]}}">{{fragment[1]-}}</span>
		{% endif -%}
	{% endfor %}
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>{{data.name[0]}}</title>
	<script>
		window.NEPTUNE = {{ data|safe }};
	</script>
	<script src="/space.js"></script>
	<link rel="stylesheet" href="/nostalgia.css" />
</head>

<body>
	<div style="display: contents">
		<div id="gimmick"></div>
		<div class="lock">
			<div class="content">
				<div aria-label="image of neptune" id="neptune"></div>
				<article class="info">
					<header>
						<span><ruby>{{data.name[0]}} <rp>(</rp><rt>{{data.name[1]}}</rt><rp>)</rp></rp></ruby></span>
						{% for emote in data.flair %}
						{{ npt_emote(emote[0], emote[1]) }}
						{% endfor %}
						<br />
					</header>
					<section>
						{{ npt_desc(data.description) }}
						<br />
					</section>
					<footer>
						<section class="end">
						{{ npt_desc(data.footer) }}
						</section>
						<br/>
						{% for attribution in data.attribution %}
						<span>
							{% for part in attribution.subject %}
							{% if "link" in part %}
							<a href="{{attribution.href}}" target="_blank" rel="noreferrer">{{part.link}}</a>
							{% endif %}
							{% if "text" in part %}
							<span>{{part.text}}</span>
							{% endif %}
							{% endfor %}
						</span>
						<br />
						{% endfor %}
						<aside class="buttons">
							<small>Some cool sites you should check out:</small>
							<ul>
							{% for button in data.button %}
								<li>{{ npt_button(button.id, button.href, button.title, button.alt, button.ext or "png") }}</li>
							{% endfor %}
							</ul>
						</aside>
						<br />
					</footer>
				</article>
				<section class="links">
					{% for link in data.links %}
					{{ npt_orbit(link.id, link.href, link.name, link.distance) }}
					{% endfor %}
				</section>
				<div id="mask"></div>
			</div>
		</div>
	</div>
</body>
<!--
		eep!!
			made by @ada@zoner.work
					-->

</html>
